a.button13 {
    display: inline-block;
    width: 15em;
    font-size: 80%;
    color: rgba(255,255,255,.9);
    text-shadow: #2e7ebd 0 1px 2px;
    text-decoration: none;
    text-align: center;
    line-height: 1.1;
    white-space: pre-line;
    padding: .7em 0;
    border: 1px solid;
    border-color: #60a3d8 #2970a9 #2970a9 #60a3d8;
    border-radius: 6px;
    outline: none;
    background: #60a3d8 linear-gradient(#89bbe2, #60a3d8 50%, #378bce);
    box-shadow: inset rgba(255,255,255,.5) 1px 1px;
  }
  a.button13:first-line{
    font-size: 170%;
    font-weight: 700;
  }
  a.button13:hover {
    color: rgb(255,255,255);
    background-image: linear-gradient(#9dc7e7, #74afdd 50%, #378bce);
  }
  a.button13:active {
    color: rgb(255,255,255);
    border-color: #2970a9;
    background-image: linear-gradient(#5796c8, #6aa2ce);
    box-shadow: none;
  }




  .container {
    margin: 50px;
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .pixel, .pixel2 {
    font-size: 25px;
    color: white;
    height: auto;
    margin: 10px;
    font-family: 'VT323';
    
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
    
    cursor: pointer;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .pixel:active, .pixel2:active {
    top: 2px;
  }
  
  .pixel {
    line-height: 0;
    
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges; /* Firefox */
    image-rendering: -o-crisp-edges; /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
    
    border-style: solid;
    border-width: 20px;
    -moz-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    -webkit-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    -o-border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
    border-image: url(https://i.imgur.com/sREM8Yn.png) 20 stretch;
  }
  
  .pixel p {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: auto;
    text-align: center;
    margin: -20px -20px;
    line-height: 20px;
    padding: 10px 20px;
    
      background: #000000;
      background:
          linear-gradient(135deg, transparent 10px, #000000 0) top left,
          linear-gradient(225deg, transparent 10px, #000000 0) top right,
          linear-gradient(315deg, transparent 10px, #000000 0) bottom right,
          linear-gradient(45deg,  transparent 10px, #000000 0) bottom left;
      background-size: 50% 50%;
      background-repeat: no-repeat;
      background-image:
          radial-gradient(circle at 0 0, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 100% 0, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 14px, #000000 15px),
          radial-gradient(circle at 0 100%, rgba(204,0,0,0) 14px, #000000 15px);
  }
  
  .pixel2 {
    position: relative;
    display: block;
    margin: 10px;
    font-family: 'VT323';
    text-transform: uppercase;
    
    font-size: 25px;
    color: white;
  }
  
  .pixel2::before {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: -10px;
    right: -10px;
    background: black;
    z-index: -1;
  }
  
  .pixel2::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: -6px;
    right: -6px;
    background: black;
    z-index: -1;
  }
  
  .pixel2 {
    padding: 10px 10px;
    position: relative;
    background: black;
    width: auto;
    z-index: 2;
  }